version: "{branch}-{build}"

shallow_clone: true

platform:
  # - x86
  - x64

services:
  - mssql2014
  - mysql
  - postgresql101

image:
  - Visual Studio 2015
#  - Visual Studio 2017

configuration:
#  - Debug
  - Release

environment:
  MYSQL_DIR: C:\Program Files\MySql\MySQL Server 5.7

init:
  - SET PGUSER=postgres
  - SET PGPASSWORD=Password12!
  - SET PGPORT=5433
  - SET PATH=C:\Program Files\PostgreSQL\10\bin\;%PATH%
  - psql --version

branches:
  only:
    - master
    - develop
    - /^v\d+\.\d+\.\d+$/

install:
  - git clone https://github.com/snikulov/sqlite.cmake.build.git C:\projects\sqlite\src
  - appveyor-retry choco install doxygen.install

before_build:
  - ps: |
      cd C:\projects\sqlite\src
      mkdir build
      cd build
      if ("$env:APPVEYOR_BUILD_WORKER_IMAGE" -match "Visual Studio 2015") {
          $env:generator="Visual Studio 14 2015"
      } else {
          $env:generator="Visual Studio 15 2017"
      }
      if ($env:PLATFORM -eq "x64") {
          $env:generator="$env:generator Win64"
      }
      echo generator="$env:generator"
      $env:SQLITE_ROOT="C:\projects\sqlite\sqlite"
      $env:PATH="$env:PATH;$env:SQLITE_ROOT\bin;$env:MYSQL_DIR\bin;$env:MYSQL_DIR\lib"
      $env:MYSQL_PWD="Password12!"
      $env:USER="root"
      mysql -e "create database matador_test;" --user=root
      sqlcmd -S localhost,1433 -U sa -P Password12! -Q "CREATE DATABASE matador_test"
      cmake -G "$env:generator" -DCMAKE_INSTALL_PREFIX="C:\projects\sqlite\sqlite" ..
      cmake --build . --config Release --target install
      cd "$env:APPVEYOR_BUILD_FOLDER"
      mkdir build
      cd build
      cmake -G "$env:generator" -DMATADOR_ODBC=true -DMSSQL_CONNECTION_STRING:STRING="mssql://sa:Password12!@(local)\\SQL2014/matador_test" -DMATADOR_SQLITE3=true -DMATADOR_MYSQL=true -DMYSQL_CONNECTION_STRING:STRING="mysql://root:Password12!@localhost/matador_test" ..
      # cmake -G "$env:generator" -DMATADOR_ODBC=true -DMSSQL_CONNECTION_STRING:STRING="mssql://sa:Password12!@(local)\\SQL2014/matador_test" -DMATADOR_SQLITE3=true -DMATADOR_MYSQL=false  ..

build_script:
  - cmake --build . --config %configuration%

before_test:
  - psql -c "CREATE DATABASE matador_test;" -U postgres
  - psql -c "CREATE USER test WITH PASSWORD 'test123';" -U postgres

test_script:
  - cd "%APPVEYOR_BUILD_FOLDER%/build" && if %CONFIGURATION%==Debug (ctest --verbose -E perftest --build-config %CONFIGURATION%) else (ctest --verbose --build-config %CONFIGURATION%)

after_build:
  - ps: |
      if (($env:APPVEYOR_REPO_TAG -Match "true") -and ($env:configuration -Match "Release")) {
        cmake --build . --target web
        cpack -G NSIS -C Release
      }

artifacts:
  - path: Package/matador*.exe
    name: installer
  - path: Package/matador*.zip
    name: zipper

deploy:
  provider: GitHub
  auth_token:
    secure: ubPcMpzrx0ulil7eJMpQbO94ufnvHXeeHoXpxr8RAMQXRMShsvlPj4ZE94cZ4T7j
  artifact: installer,zipper
  draft: false
  prerelease: false
  on:
    configuration: Release
    appveyor_repo_tag: true
