<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">matador</a>
      <!--<a class="navbar-brand masthead-brand" href="#">matador</a>-->
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right">
      <!--<ul class="nav navbar-nav masthead-nav">-->
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/guide/installation">Getting Started</a></li>
        <li><a href="#contact">Api</a></li>
        <li><a href="#contact">Blog</a></li>
        <li><a href="#contact">Code</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
