body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, "Lucida Grande", sans-serif;
	font-size: 100%;
	color: #aaa;
	background-color: #222;
  line-height:1.6em;
}

a
{
color: #3fa6e7;
}

#wrapper
{
/*	width: 900px;*/
	width: 790px;
	margin: 0 auto;
}

#header
{
  margin: 10px auto;
  width: 100%;
  padding: 0 0;
  color: #ddd;
}

#header h1
{
  text-align: center;
}

#header ul
{
  float: right;
  margin: 30px 20px 0 0;
  list-style: none;
  padding: 0;
}

#header ul li
{
  float: left;
  padding: 6px 5px 2px 5px;
  font-weight: bolder;
  color: #cb4b16;
}

#header ul li a
{
  text-decoration: none;
  font-weight: bolder;
  color: #3fa6e7;
  border-bottom: 4px solid #222;
}

#header ul li a:hover
{
  border-bottom: 4px solid #ffcc33;
}

#header ul li.selected a:hover
{
  border-bottom: 4px solid #222;
}

#logo
{
  width: 100%;
  float: left;
  border: 2px solid #aaa;
  margin: 10px 0;
}

#logo table tr td.oos
{
/*  float: left;*/
  padding: 40px 5px;
  font-family: sans-serif;
	font-size: 600%;
	font-weight: 900;
	color: #222;
	background-color: #aaa;
}

#logo table tr td.tagline
{
  vertical-align: bottom;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 150%;
	color: #aaa;
}

#content
{
  width: 100%;
  margin: 0 0 0 10px;
  padding: 0 0;
  float: left;
}

#navrow1 ul,
#navrow2 ul,
#navrow3 ul,
#navrow4 ul,
#nav-path ul
{
  width: 100%;
  float: left;
  margin: 0;
  list-style: none;
  padding: 0;
}

#navrow1 ul li,
#navrow2 ul li,
#navrow3 ul li,
#navrow4 ul li,
#nav-path ul li
{
  float: left;
  padding: 6px 10px 2px 0px;
}

#navrow1 ul li.current a,
#navrow2 ul li.current a,
#navrow3 ul li.current a,
#navrow4 ul li.current a
{
  color: #cb4b16;
}

#navrow1 ul li a,
#navrow2 ul li a,
#navrow3 ul li a,
#navrow4 ul li a,
#nav-path ul li a
{
  text-decoration: none;
  font-weight: bolder;
  border-bottom: 4px solid #222;
}

#navrow1 ul li a:hover,
#navrow2 ul li a:hover,
#navrow3 ul li a:hover,
#navrow4 ul li a:hover
{
  border-bottom: 4px solid #ffcc33;
}

#navrow1 ul li.current a:hover,
#navrow2 ul li.current a:hover,
#navrow3 ul li.current a:hover,
#navrow4 ul li.current a:hover
{
  border-bottom: 4px solid #222;
}

#content h3
{
  /* top right bottom left */
  margin: 5px 0;
}

#content h2
{
  margin: 20px 0;
}

#content p
{
  margin: 10px 0;
  text-align: justify;
}

#content pre
{
  margin: 0 50px;
}

#content pre code
{
  font-size: 115%;
  /*font-weight: bold;*/
  line-height: 95%;
}

#footer
{
  border-top: 2px solid #aaa;
  float: left;
  width: 100%;
  padding: 30px 0;
}

.tabs,
.tabs2,
.tabs3,
.tabs4,
.contents,
.header,
.clear
{
  clear: both;
}

.float_left
{
  float: left;
}

.float_right
{
  float: right;
}

.width100
{
/*  width: 900px;*/
  width: 780px;
}

.width66
{
/*  width: 600px;*/
  width: 520px;
}

.width33
{
/*  width: 300px;*/
  width: 260px;
}

.width50
{
/*  width: 450px;*/
  width: 390px;
}

.width75
{
/*  width: 675px;*/
  width: 585px;
}

.width25
{
/*  width: 225px;*/
  width: 195px;
}

.memname
{
  font-family: Courier, Monospace;
  color: #268bd2;
}

.title
{
	font-size: 170%;
	font-weight: 900;
	margin: 0;
	padding: 20px 0 10px 0;
}

.fragment
{
	margin: 30px;
	padding: 5px;
/*	background-color: #eee;*/
  line-height: 100%;
	font-size: 105%;
  color: #ddd;
}

.memberdecls
{
}

table.memberdecls
{
  border-spacing: 0px;
  padding: 0px;
}

.memItemLeft,
.memTemplItemLeft,
.memItemRight,
.memTemplItemRight,
.memTemplParams
{
  font-family: monospace;
  font-weight: bold;
  font-size: 105%;
}

.memItemLeft,
.memItemRight,
.memTemplParams
{
  border-top: 1px solid #333;
}

.memitem
{
  border: 1px solid #333;
  margin-bottom: 20px;
  font-size: 95%;
}

.memproto
{
  background-color: #333;
  font-weight: bold;
}

.memdoc
{
  padding: 5px;
}

pre
{
  /*font-family: courier, monospace;*/
}

pre .comment
{
  color: #c2d985;
}

pre .keywordflow,
pre .keyword
{
  color: #cb4b16;
}

pre .keywordtype
{
  color: #3fa6e7;
}

pre .stringliteral
{
  color: #ffcc33;
}
