body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, "Lucida Grande", sans-serif;
	font-size: 100%;
	color: #444;
	background-color: #fff;
  line-height:1.6em;
}

a
{
  color: #3fa6e7;
}

#header
{
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 55px;
  text-align: center;
  padding-top: 5px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}

#navigation
{
  width: 790px;
  margin: 0 auto;
}

#navigation ul
{
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#navigation ul li
{
  float: left;
  padding: 0px 5px 2px 5px;
  font-weight: bolder;
  color: #cb4b16;
}

#navigation ul li a
{
  text-decoration: none;
  font-weight: bolder;
  color: #3fa6e7;
/*  border-bottom: 4px solid #222;*/
}

#navigation ul li a:hover
{
  border-bottom: 4px solid #ffcc33;
}

#navigation ul li.selected a:hover
{
  border-bottom: 4px solid #222;
}

#navigation h1
{
  font-size: 2.2em;
  text-align: left;
	color: #ddd;
  margin: 0;
  padding: 0;
}
#navigation p
{
  margin: 0;
  padding: 0;
  float: left;
  padding-top: 0px;
  font-family: sans-serif;
	font-size: 80%;
	font-weight: 900;
	color: #ddd;
}
/*
.logo
{
  padding-top: 10px;
  font-family: sans-serif;
	font-size: 400%;
	font-weight: 900;
	color: #ddd;
}
*/
#wrapper
{
/*	width: 900px;*/
	width: 790px;
	margin: 0 auto;
}
/*
#header
{
  margin: 10px auto;
  width: 100%;
  padding: 0 0;
  color: #444;
}

#header h1
{
  text-align: center;
}

#header ul
{
  float: right;
  margin: 30px 20px 0 0;
  list-style: none;
  padding: 0;
}

#header ul li
{
  float: left;
  padding: 6px 5px 2px 5px;
  font-weight: bolder;
  color: #cb4b16;
}

#header ul li a
{
  text-decoration: none;
  font-weight: bolder;
  color: #3fa6e7;
  border-bottom: 4px solid #444;
}

#header ul li a:hover
{
  border-bottom: 4px solid #ffcc33;
}

#header ul li.selected a:hover
{
  border-bottom: 4px solid #222;
}
*/
#logo
{
  width: 100%;
  float: left;
  border: 2px solid #444;
  margin: 10px 0;
}

#logo table tr td.oos
{
/*  float: left;*/
  padding: 40px 5px;
  font-family: sans-serif;
	font-size: 600%;
	font-weight: 900;
	color: #fff;
	background-color: #444;
}

#logo table tr td.tagline
{
  vertical-align: bottom;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 150%;
  color: #444;
}

#content
{
  width: 100%;
  margin: 60px 0 0 10px;
  padding: 0 0;
  float: left;
}

#navrow1 ul,
#navrow2 ul,
#navrow3 ul,
#navrow4 ul
{
  width: 100%;
  float: left;
  margin: 0;
  list-style: none;
  padding: 0;
}

#navrow1 ul li,
#navrow2 ul li,
#navrow3 ul li,
#navrow4 ul li
{
  float: left;
  padding: 6px 10px 2px 0px;
}

#navrow1 ul li.current a,
#navrow2 ul li.current a,
#navrow3 ul li.current a,
#navrow4 ul li.current a
{
  color: #cb4b16;
}

#navrow1 ul li a,
#navrow2 ul li a,
#navrow3 ul li a,
#navrow4 ul li a
{
  text-decoration: none;
  font-weight: bolder;
  border-bottom: 4px solid #222;
}

#navrow1 ul li a:hover,
#navrow2 ul li a:hover,
#navrow3 ul li a:hover,
#navrow4 ul li a:hover
{
  border-bottom: 4px solid #ffcc33;
}

#navrow1 ul li.current a:hover,
#navrow2 ul li.current a:hover,
#navrow3 ul li.current a:hover,
#navrow4 ul li.current a:hover
{
  border-bottom: 4px solid #222;
}

#nav-path ul
{
  width: 100%;
  float: left;
  margin: 0;
  list-style: none;
  padding: 0;
}

#nav-path ul li
{
  float: left;
  padding: 6px 10px 2px 0px;
}

#nav-path ul li a
{
  text-decoration: none;
}

#content h3
{
  /* top right bottom left */
  margin: 5px 0;
}

#content h2
{
  margin: 20px 0;
}

#content p
{
  margin: 10px 0;
  text-align: justify;
}

#content pre
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0;
  background-color: #eee;
}

#content pre code
{
  font-size: 115%;
  /*font-weight: bold;*/
  line-height: 95%;
}

#content table
{
  border-collapse: collapse;
/*  width: 100%;
  border: 1px solid #aaa;*/
}

#content table tr td,
#content table tr th
{
/*  border: 1px solid #aaa;*/
}

#footer
{
  border-top: 2px solid #aaa;
  float: left;
  width: 100%;
  padding: 30px 0;
}

.tabs,
.tabs2,
.tabs3,
.tabs4,
.contents,
.header,
.clear
{
  clear: both;
}

.float_left
{
  float: left;
}

.float_right
{
  float: right;
}

.width100
{
/*  width: 900px;*/
  width: 780px;
}

.width66
{
/*  width: 600px;*/
  width: 520px;
}

.width33
{
/*  width: 300px;*/
  width: 260px;
}

.width50
{
/*  width: 450px;*/
  width: 390px;
}

.width75
{
/*  width: 675px;*/
  width: 585px;
}

.width25
{
/*  width: 225px;*/
  width: 195px;
}

.memname
{
  font-family: Courier, Monospace;
  color: #268bd2;
}

.title
{
	font-size: 170%;
	font-weight: 900;
	margin: 0;
	padding: 20px 0 10px 0;
}

.fragment
{
	padding: 5px;
	line-height: 120%;
	font-size: 105%;
	color: #444;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0;
  background-color: #eee;
}

.line
{
  font-family: monospace, fixed;
  font-size: 13px;
  min-height: 13px;
  line-height: 1.0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.memberdecls
{
}

table.memberdecls
{
  border-spacing: 0px;
  padding: 0px;
}

.memItemLeft,
.memTemplItemLeft,
.memItemRight,
.memTemplItemRight,
.memTemplParams
{
  font-family: monospace;
  font-weight: bold;
  font-size: 105%;
}

.memItemLeft,
.memItemRight,
.memTemplParams
{
/*  border-top: 1px solid #333;*/
}

.memitem
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 15px 0;
  background-color: #eee;
/*
  border: 1px solid #333;
  margin-bottom: 20px;
  font-size: 95%;
*/
}

.memproto
{
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.memdoc
{
  padding: 5px;
  border-top: 1px solid #ddd;
}

pre
{
  /*font-family: courier, monospace;*/
}

.comment
{
  color: #eab700;
}

.keywordflow,
.keyword
{
  color: #8959a8;
}

.keywordtype
{
  color: #3fa6e7;
}

.stringliteral
{
  color: #718c00;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

#side_toc 
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 15px 0;
  background-color: #eee;
}

#side_toc ol 
{
}

#side_toc b
{
	margin: 5px 20px;
}

#doc_nav
{
	width:100%;
}

.warn
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 5px;
/*  background-color: red;*/
}

p.warn
{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-left: 5px solid #A80000;
  margin: 0;
  padding; 0;
}

.summary
{
  font-size: 70%;
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 5px;
}

.headertitle
{
  clear: both;
}
