body {
  padding-top: 70px;
  /*background-color: #222;*/
  /*color: #ccc;*/
}

.top-offset-50 {
  padding-top: 50px;
}

.site-footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #404040;
  color: #aaa;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*.green-background {
  background-size: cover;
  background-image: url(../images/abstract-green-1920.jpg);
}*/

/*.guide {
  margin-top: 70px;
}

.guide h1, .guide h2, .guide h3, .guide h4 {
  margin-top: 50px;
}*/

.centered {
  text-align: center;
}

pre {
  background-color: transparent;
}

.sm {
  z-index: 1020;
}

/*.jumbotron {
  background-color: transparent;
  text-align: center;
  color: seashell;
}

.jumbotron p {
  color: linen;
}*/

.navbar-vertical
{
  list-style-type: none;
  margin-top: 20px;
  width: 100%;
}

.navbar-vertical h4
{
  color: #777;
  margin-top: 20px;
  margin-right: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}

.highlight {
  background-color: transparent;
}

.highlight table {
  display: inline-block;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  border-radius: 5px;
  background-color: #404040;
  border: 1px solid #b1b1b1;
}

.highlight table td.code {
  width: 100%;
}

.highlight .gutter pre {
  color: #586e75
}

.highlight pre {
  border: none;
  border-radius: none;
  background-color: transparent;
  color: #d0d0d0;
}

.navbar-vertical ul {
  list-style-type: none;
  padding-left: 0;
}

.navbar-vertical ul li {
  margin: 5px;
}

.navbar-vertical ul li a {
  color: #aaa;
}

.fixed {
  position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* nested links */
.bs-docs-sidebar .nav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #428bca;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #428bca; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
