<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="green-background">
      <div class="container">

        {% include mainnav.html %}

      </div>
    </div>
    <div class="dark-layout" style="margin-top: 50px">
      <div class="container">
        <div class="col-md-2">
          {% include sidenav.html %}
        </div>
        <div class="col-md-10">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
</html>
