---
layout: default
---
<div class="green-background">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>matador</h1>
        <p>
          matador is an object relational mapping framework written in C++. It
          aims to encapsulate all database backend communication. You don't have
          to deal with database backends or sql statements neither with mapping of
          data types or serialization of objects. It comes with relation handling out
          of the box, brings a unique container for all kind of objects and a fluent sql
          query interface. On top all features are combined into an ORM layer.
        </p>
        <p><a class="btn btn-primary btn-lg" href="guide#introduction" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<div class="dark-layout top-offset-50">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Unique Container</h2>
            <p>
              matador comes with a unique kind of container where you can store all your objects
              in. Once the hierarchy of your entities is set up you can perform all CRUD operations
              on the container plus filtering and using views.
            </p>
            <p><a class="btn btn-warning" href="guide#objects" role="button">View details &raquo;</a></p>
          </div>
          <div class="panel-body no-padding">
{% highlight cpp linenos %}
object_store store;

store.attach<person>("person");
store.attach<employee, person>("employee");
store.attach<department>("department");

auto george = store.insert(new employee("george"));
auto jane = store.insert(new employee("jane"));

auto dep = store.insert(new department("insurance"));
{% endhighlight %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Fluent Query</h2>
            <p>
              The sql query module provides simple fluent interface to build sql queries. A query
              can be typed or just work on a anonymous row object. Once a query is setup it can be executed
              directly or be captured in a prepared statement.
            </p>
            <p><a class="btn btn-warning" href="guide#queries" role="button">View details &raquo;</a></p>
          </div>
          <div class="panel-body no-padding">
{% highlight cpp linenos %}
connection conn("sqlite://db.sqlite");
query<person> q("person", conn);

column name("name");
column age("age");
auto res = q.select().where(name != "george" && age > 35);

for (auto p in res) {
  std::cout << "name: " p->name << "\n";
}
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Real Relations</h2>
            <p>
              matador comes with real relation handling (one to one, one to many and
              many to many). Once one relation side changes the other side of the relation is
              updated automatically. This works with plain object store as well as with
              all supported database backends.
            </p>
            <p><a class="btn btn-warning" href="guide#relations" role="button">View details &raquo;</a></p>
          </div>
          <div class="panel-body no-padding">
{% highlight cpp linenos %}
object_store store;
// prepare store ...

auto george = store.insert(new employee("george"));
auto jane = store.insert(new employee("jane"));
auto dep = store.insert(new department("insurance"));

dep->employees.push_back(jane);

// janes department name is insurance
std::cout << jane->department->name << "\n"

george->department = dep;

// second employee in department is george
std::cout << dep->employees.size() << "\n"
{% endhighlight %}
          </div>
        </div>
      </div>
            <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>ORM Layer</h2>
            <p>
              The ORM layer finally combines the unique container, the fluent query interface and the
              relation handling. It hides all the database work, takes care of transaction handling and
              object serialization, handles all types of relationships and provides the usera simple interface.
            </p>
            <p><a class="btn btn-warning" href="guide#persistence" role="button">View details &raquo;</a></p>
          </div>
          <div class="panel-body no-padding">
{% highlight cpp linenos %}
persistence p("sqlite://db.sqlite");

p.attach<author>("author");
p.attach<post>("post");

// create schema
p.create();

session s(p);

transaction tr = s.begin();
try {
  p.insert(new author("john irwing"));
  p.insert(new author("charles darwin"));
  tr.commit();
} catch (std::exception &ex) {
  tr.rollback();
}
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
