<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="green-background">
      <div class="container">

        {% include mainnav.html %}

        <div class="jumbotron">
          <div class="container">
            <h1>matador</h1>
            <p>
              matador is an object relational mapping framework written in C++. It
              aims to encapsulate all database backend communication. You dont have
              to deal with database backends or sql statements neither with mapping of
              data types or serialization of objects. It comes with relation handling out
              of the box, brings a unique container for, a fluent sql query interface.
              On top all features are combined to a ORM layer.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    {{content}}

    {% include footer.html %}
</html>
