body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, "Lucida Grande", sans-serif;
	color: #eee;
	/*background-color: #909090;*/
	background-color: #d6d6d6;
}

#wrapper
{
  width: 900px;
  margin: 40px auto;
}

#header
{
  float: left;
  margin: 0 0;
  padding: 0 0;
  color: #ddd;
  height: 160px;
  background-color: #303030;
}

#header h1
{
  text-align: center;
}

#content ul
{
  width: 100%;
  float: left;
  margin: 0;
  list-style: none;
  padding: 0;
  background-color: #303030;
}

#content ul li
{
  float: left;
  padding: 6px 5px 10px 5px;
  border-left: 1px solid #404040;
  border-right: 1px solid #202020;
}

#content ul li a
{
  text-decoration: none;
  color: #e7e620;
}

#content ul li:hover
{
  background-color: #909090;
  /*
  text-decoration: none;
  color: #e7e620;
  */
}

#content
{
  width: 900px;
  float: left;
  clear: both;
  margin: 0 0;
  color: #555;
  background-color: #eee;
}

#content h3
{
  /* top right bottom left */
  padding: 10px 5px 0 5px;
  /*background-color: #eee;*/
  font-family: Courier, Monospace;
  font-size: 150%;
  font-weight: bolder;
  color: darkgreen;
}

#content p
{
  margin: 5px;
  padding: 5px;
  /*border: 1px dashed #ccc*/;
  text-align: justify;
}
#footer
{
  padding: 30px 0;
  background-color: #333;
  color: #ddd;
}

.clear
{
  clear: both;
}

.float_left
{
  float: left;
}

.float_right
{
  float: right;
}

.width100
{
  width: 900px;
}

.width66
{
  width: 600px;
}

.width33
{
  width: 300px;
}

.width50
{
  width: 450px;
}

.width25
{
  width: 225px;
}
